#!/bin/sh

SCRIPT="INSTALL.sh"

if [ -e ~/$SCRIPT ]; then
    FINAL_NAME=$(gettext cinnamon-settings-daemon 'Disk space')

    xdg-user-dirs-update
    fold=$(xdg-user-dir DESKTOP)

    mkdir "$fold" 2>/dev/null
    mv $SCRIPT "$fold/$FINAL_NAME" && gvfs-set-attribute -t string "$fold/$FINAL_NAME" 'metadata::custom-icon' 'file:///usr/share/icons/Adwaita/48x48/actions/document-save.png'
fi

