#!/bin/sh
# if awesome, launch this:
#comp-switch &
#shift-switch &
#pasystray &
#nm-applet &

SCRIPT="create_storage.sh"
FINAL_NAME=$(gettext cinnamon-settings-daemon 'Disk space')

fold=$(xdg-user-dir DESKTOP)

if [ -e ~/$SCRIPT ]; then
    (sleep 30 ; mkdir "$fold" && mv $SCRIPT "$fold/$FINAL_NAME" && gvfs-set-attribute -t string "$fold/$FINAL_NAME" 'metadata::custom-icon' 'file:///usr/share/icons/Adwaita/48x48/actions/document-save.png') &
fi

