# general grub vars
set default="0"
set timeout=2

# disk detection
insmod part_gpt
insmod part_msdos
set root='(hd0,msdos1)'
search --set=root --label DISKLABEL

# locales
set locale_dir=$prefix/locale
set lang=fr_FR

#font="/usr/share/grub/unicode.pf2"

set gfxmode=auto
load_video
insmod gfxterm
set locale_dir=$locale_dir
set lang=$lang
insmod gettext

set gfxpayload=keep

# theme

insmod gfxmenu
loadfont /grub/themes/breeze/dejavu_bold_14.pf2
insmod png
insmod vbe
insmod efi_gop
insmod efi_uga
set theme=/grub/themes/breeze/theme.txt
export theme

# term

#terminal_input console
#terminal_output console
terminal_output gfxterm


# menus
menuentry 'Standard boot' --class unknown {
	linux	/vmlinuz-linux root=LABEL=DISKLABEL quiet
	initrd	/initramfs-linux.img
}
menuentry 'Failsafe boot (no storage)' --class arch {
	linux	/vmlinuz-linux root=LABEL=DISKLABEL quiet nobtr=1
	initrd	/initramfs-linux.img
}
menuentry 'debug' --class zorinos {
    linux	/vmlinuz-linux root=LABEL=DISKLABEL shell
    initrd	/initramfs-linux.img
}
menuentry 'windows' --class windows {
    insmod ntfs
    set root='(hd0,msdos1)'
    search --no-floppy --set=root --label OS
    chainloader +1
}

# custom config
source /custom.cfg
